[package]
name = "lp-server"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[features]
default = ["std"]
std = [
    "lp-core-util/std"
]

[dependencies]
lp-core = { path = "../lp-core", default-features = false }
lp-core-util = { path = "../lp-core-util", default-features = false }
serde_json = { workspace = true, default-features = false, features = ["alloc"] }
hashbrown = { workspace = true }


[lints]
workspace = true
